.dinosaurs {
    /* background-color: rgb(10, 94, 94); */
    display: flex;
    justify-content: space-between;
}
.dinosaurs__head-list {
    background-color: #00ffff;
    list-style: none;
    padding: 0;
}
.dinosaurs__foot-list {
    background-color: rgba(0, 255, 55, 1);
}


.dino {
    height: 100%; 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("./../images/dinos.jpg");
}
.btn-group button {
    top: 20px; 
    left: 60px 
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 25%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
 